<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.TECNO.Spark30Pro" android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.vendor.device"
                android:requiredSystemPropertyValue="TECNO-KL7" android:priority="835"
                android:isStatic="true" />
</manifest>